* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}


#navbar {
    background-color: rgb(18, 73, 107);
    padding: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.botoes {
    list-style: none;
    display: flex;
    gap: 20px;
}


.botoes a {
    color: white;
    text-decoration: none;
}


button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}


main {
    padding: 30px;
}


.inicio {
    text-align: left;
    margin-bottom: 40px;
}


.inicio h1 {
    margin-bottom: 15px;
}


.inicio p {
    margin-bottom: 15px;
}

.bolinha{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius:50%;
    margin-right:5px ;
    
    
}


.vermelha{background-color: #ff4d4d;}
.amarelo{background-color: #ffdb58;}
.verde{background-color: #2ecc71;}


.Rodape {
    background-color: rgb(18, 73, 107);
    color: rgb(255, 255, 255);
    margin-top:457px;
    padding: 20px;
    width: 100%;
}


.Rodape h3 {
    margin-bottom: 10px;
}


.Rodape p {
    margin-bottom: 10px;
}


.Rodape ul {
    list-style: none;
    margin-top: 15px;
}


.Rodape a {
    color: white;
    text-decoration: none;
}

.marca{
    border-style:solid;
    border: 1px  solid red;
    border-width:2px;
    display:right;
    
}
