*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
background-color: red;
display: flex;
}





.botoes{
    display: flex;
}    

.botoes li {
    list-style: none ;
}

.navbar{
    display: flex;
    justify-content: center;
    
}

.botoes{
    display: flex;
    justify-items:baseline;
}

.opcao{
    width: 5px;
}   

    .button{
        color: rgb(35, 224, 253);
        position: relative;
        display: inline-block;

    }

    .dropdown:hover .navbar {
        display:flex;

    }

    .menu-opcoes ul{
  color: #0eb9cd;
  padding: 5px 4px;
  text-decoration:underline;
  display: block;
}

img {
    width: 5vw;
    height: 5vw;

}

